<h1>Edit Article</h1>

<%= form_with(model: @article,local: true) do |form| %>  <!-- identifying scope  articles for this form -->
	
	<% if @article.errors.any? %>  <!-- verifying if there are any errors --> 
		<div id="error_explanation">
			<h2>
				<!-- pluralize is a rails helper that takes a number and a string as its arguments. If the number is greater than one, the string will be automatically pluralized. -->
				<%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved.  <!-- Shows a quantity of errors --> 
			</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %> <!-- Shows the specific error --> 
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %> 

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :text %><br>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', articles_path %>